.formContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 3fr 2fr;
  width: 80%;
  max-width: 1280px;
  min-height: 70svh;
  border-radius: 30px;
  overflow: hidden;
  background: var(--card-bg);
  box-shadow: var(--shadow);

  @media (max-width: 768px) {
    width: 100%;
    min-height: 80svh;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
  }
}
