.myMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 40px 20px;
  width: 100%;
  height: 100%;
  background: var(--message-bg);
  border-inline-start: 1px solid var(--accent);
  font-size: 1.2rem;
  line-height: 1.3;
  text-wrap: balance;
  @media (max-width: 768px) {
    border-inline-start: none;
    border-block-start: 1px solid var(--accent);
  }
  &__heading {
    font-weight: 600;
    color: var(--accent);
  }
  &__subheading {
    font-weight: 400;
    color: var(--accent);
  }
  &__text {
    font-weight: 400;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
  }
  &__list-item {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}
